* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
	background-color: #0f0f12;
	width: 1200px;
	font-size: 22px;
}

.card {
  background-color: #0f0f12;
  background-image:
    linear-gradient(to bottom, rgba(15,15,18,0) 50%, rgba(15,15,18,1) 100%),
    var(--bg-url);
  background-size:
    100% calc(1200px / var(--bg-ratio)),
    100% auto;
  background-position: top, top;
  background-repeat: no-repeat, no-repeat;
	text-shadow: 0 0 7px black;

	display: flex;
	flex-direction: column;
	gap: 36px;
	padding: 36px;
}

.date {
	text-shadow: 0 0 3px black;
}

.card > * {
	position: relative;
	z-index: 1;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .group {
	font-size: 40px;
	display: flex;
	align-items: center;
	gap: 28px;
}

.header .group img {
	height: 96px;
}

.contentPortal {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.contentXur {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.itemPortal {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),var(--bg-url);
	background-position: center;
	background-size: cover;
	padding: 25px;

	border: 4px solid #000;
	border-radius: 16px;
	overflow: hidden;

}

.itemPortal .title .name {
	font-weight: 400;
  font-size: 28px;
}

.itemPortal .title .type {
	font-size: 18px;
	color: #ccc;
	text-shadow: 0 0 3px black;
}

.items {
	display: flex;
	flex-direction: column;
	margin: 36px 10px;
	gap: 12px;
}

.item {
	display: flex;
	gap: 18px;
}

.item .icon {
	min-height: 80px;
	min-width: 80px;
	position: relative;
	border: 3px solid #b7b7b7;
}

.item .icon img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.item .icon img.watermark {
	top: -1.8px;
	left: -1.8px;
}

.damage-type-icon, .ammo-icon {
  height: 1em;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
}

.info .name {
	font-weight: bold;
	text-wrap: nowrap;
	overflow: hidden;
}

.info .type {
	display: flex;
	align-items: center;
	gap: 8px;
}

.itemXur {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.itemSummary {
	display: flex;
	position: relative;
}

.price {
	position: absolute;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	justify-content: end;
}

.cost {
	display: flex;
  gap: 8px;	
  align-items: flex-end;
}

img.cost-icon {
	height: 1.5em;
}

.description {
	margin: 10px;
}

.armor-stats {
	display: grid;
	grid-template-columns: max-content max-content 2rem 1fr;
	gap: 4px;
	margin: 24px;
	align-items: center;
	text-align: right;
}

.stat-icon {
	height: 1.5em;
	margin-top: 4px;
}

.stat-bar {
	background: #333;
	height: 1.1em;
	width: 100%;
	overflow: hidden;
	margin-left: 7px;
	margin-top: 4px;
}

.stat-fill {
	background: #fff;
	height: 100%;
	width: 0;
}

.total {
	margin-top: 5px;
}

.stat-value.total {
	font-weight: bold;
}

.archetype,
.perk-info {
	display: flex;
	align-items: center;
	gap: 20px;
}

.archetype {
	justify-content: end;
	margin: 24px 18px;
}

.perk-info {
	justify-content: start;
	margin: 24px 0;
}

.archetype .icon,
.perk-info .icon {
	height: 60px;
	width: 60px;
}

.archetype .name,
.perk-info .name {
	font-weight: bold;
}

.exotic-perk .desc {
	font-size: 0.9em;
	opacity: 0.9;
	margin: 24px;
	margin-right: 0;
	word-break: auto-phrase;
}

.footer {
	text-align: right;
	padding: 10px 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 12px;
}

.tips {
	flex-grow: 1;
	font-size: 0.8em;
	opacity: 0.7;
}

.footer img {
	height: 48px;
	opacity: 0.8;
}

/* 記号類 */

.solar {
  color: #e7601d;
  font-weight: 400;
}
.solar.keys {
  padding: 0 0.2em;
}

.arc {
  color: #81b5e4;
  font-weight: 400;
}
.arc.keys {
  padding: 0 0.13em;
}

.void {
  color: #b07cdb;
  font-weight: 400;
}
.void.keys {
  padding: 0 0.1em;
}

.stasis {
  color: #5e7afd;
  font-weight: 400;
}
.stasis.keys {
  padding: 0 0.13em;
}

.strand {
  color: #37da66;
  font-weight: 400;
}
.strand.keys {
  padding: 0 0.31em;
}

.prism {
  color: #f263a1;
  font-weight: 400;
}

.antiChampion {
  padding: 0.17em 0.2em 0.059em;
}